// Глобальные стили
@import "variables";

.btn-reset {
  border: none;
  background: transparent;
  background: url("../images/together.jpg");
}

html,
body {
  height: 100%;
}

.wrapper {
  border-radius: 10px;
}
